$avatar-diameter: 35px;

avatar img {
  display         : block;
  width           : $avatar-diameter;
  height          : $avatar-diameter;
  background-color: #eee;
  border-radius   : $avatar-diameter;
}
