- scriptsNoBuild = ['routes']

- var bowers = []
- bowers.push('angular/angular')
- bowers.push('angular-resource/angular-resource')
- bowers.push('angular-ui-router/release/angular-ui-router')

doctype html
html(ng-app='appirio-tech-ng-ui-components')
  head
    title UI Components

    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')

    meta(name='viewport', content='width=device-width initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')

    include css

  body
    include nav

    main.layout-main("role"="main", class="{{ pageClass }}", ui-view="")

    each path in bowers
      script(src="bower_components/#{path}.js", type="text/javascript")

    include app-files

    each path in scriptsNoBuild
      script(src="scripts/#{path}.js", type="text/javascript")
