- var scripts     = []
- var bowers      = []
- var examples    = []

- examples.push('example.module')
- examples.push('routes')
- examples.push('modal-example.controller')
- examples.push('checkbox-example.controller')
- examples.push('selected-button-example.controller')
- examples.push('lock-height-example.controller')
- examples.push('dropdown.example.controller')
- examples.push('date-input.example')
- examples.push('example-templates')
- examples.push('image-viewer-example.controller')
- examples.push('image-viewer-header-example.controller')


- var directives  = []
- directives.push('avatar')
- directives.push('countdown')
- directives.push('simple-countdown')
- directives.push('loader')
- directives.push('modal')
- directives.push('focus-on-click')
- directives.push('checkbox')
- directives.push('selected-button')
- directives.push('selectable')
- directives.push('scroll')
- directives.push('flush-height')
- directives.push('full-height')
- directives.push('fitted-width')
- directives.push('lock-height')
- directives.push('date-input')
- directives.push('image-viewer')
- directives.push('image-viewer-header')
- directives.push('dropdown')

- var controllers = []
- controllers.push('countdown')
- controllers.push('simple-countdown')
- controllers.push('checkbox')
- controllers.push('selected-button')
- controllers.push('date-input')
- controllers.push('image-viewer')
- controllers.push('image-viewer-header')


- var elements = []

- var filters = ['time-lapse', 'ordinal-number']

- scripts.push('ng-ui-components.module')
- scripts.push('templates')

each directive in directives
  - scripts.push('directives/' + directive + '.directive')
end

each controller in controllers
  - scripts.push('/controllers/' + controller + '.controller')
end

each element in elements
  - scripts.push('/elements/' + element + '.element')
end

each filter in filters
  - scripts.push('/filters/' + filter + '.filter')
end

- bowers.push('zepto/zepto')
- bowers.push('classnames/index')
- bowers.push('react/react')
- bowers.push('react/react-dom')
- bowers.push('react-input-autosize/dist/react-input-autosize')
- bowers.push('react-select/dist/react-select')
- bowers.push('angular/angular')
- bowers.push('angular-resource/angular-resource')
- bowers.push('angular-ui-router/release/angular-ui-router')
- bowers.push('moment/moment')
- bowers.push('angular-scroll/angular-scroll')
- bowers.push('ngReact/ngReact')

= "\n"
// build:js lib.js
= "\n"
each path in bowers
  script(src="bower_components/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js main.js
= "\n"
each path in scripts
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js example.js
= "\n"
each path in examples
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"
