ul.nav
  li
    a(ui-sref="avatar") Avatar

  li
    a(ui-sref="countdown") Countdown

  li
    a(ui-sref="loader") Loader

  li
    a(ui-sref="filters") Filters

  li
    a(ui-sref="modal") Modal

  li
    a(ui-sref="focus-on-click") Focus on click

  li
    a(ui-sref="checkbox") Checkbox

  li
    a(ui-sref="selected-button" style="text-decoration: line-through;") Selected Button

  li
    a(ui-sref="selectable") Selectable

  li
    a(ui-sref="scroll") Scroll

  li
    a(ui-sref="flush-height") Flush Height

  li
    a(ui-sref="full-height") Full Height