@import "work-includes";

checkbox {
  display: block;

  label {
    margin-left: $margin-smallest;
  }

  .icon, button {
    width   : 24px;
    height  : 24px;
    outline : none; /* fixing jumping issues on webkit */
  }
}