@import "work/work-includes";

image-slide-viewer {
  position: absolute;
  top: 0;
  height: 100vh;
  margin-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;

  main {
    width : 100vw;

    .meta {
      text-align: center;
      margin-bottom: 20px;
    }

    .content {
      align-items: stretch;

      .previous, .next {
        flex-basis: 60px;

        .arrow-previous, .arrow-next {
          margin: auto
        }
      }

      .image-container {
        position: relative;
        text-align: center;

        &.small, &.fit {
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            max-width: 100%;
            max-height: 100%;
          }
        }

        &.fit {
          img {
            cursor: zoom-in;
          }
        }

        &.full {
          overflow: scroll;

          img {
            cursor: zoom-out;
          }
        }
      }
    }

    .thumbnails {
      flex-basis: 120px;
      text-align: center;
      width: 100vw;
      padding: 30px;
      overflow: auto;
      white-space: nowrap;

      > * {
        display: inline-block;
        margin: 0 10px;
        position: relative;

        &.elevated {
          opacity: 0.4;
        }
      }

      button {
        img {
          width  : 60px;
          height : 50px;
          display: block;
        }
      }
    }
  }
}

