@import "work-includes";

#modal-overlay {
  display         : none;
  position        : fixed;
  top             : 0;
  left            : 0;
  height          : 100%;
  width           : 100%;
  z-index         : 10;
  background-color: rgba(0,0,0,0.6);
}

modal {
  @include align-items(center);

  display : none;
  position: fixed;
  top     : 0;
  left    : 0;
  width   : 100%;
  height  : 100%;
  z-index : 1000;

  &.show {
    @include flex-center(center);
  }

  .close {
    position        : absolute;
    right           : $spacing;
    top             : $spacing;
    padding         : $spacing-small;
    background-color: white;
  }
}

