@import "work/work-includes";

selected-button {
  display: block;

  button {
    position: relative;
    width: 160px;

    .icon-container {
      visibility: hidden;
    }

    &.checked {
      .icon-container {
        visibility: visible;
      }
    }

    .icon-container {
      position    : absolute;
      top         : 0;
      right       : 0;
      height      : 100%;
      margin-right: 5px;
    }
  }
}