@import "work/work-includes";

button.selected-button {
  display      : inline-block;
  position     : relative;
  padding-left : 30px;
  padding-right: 30px;

  .icon-container {
    visibility: hidden;
  }

  &.checked {
    .icon-container {
      visibility: visible;
    }
  }

  .icon-container {
    @include display(flex);
    @include justify-content(space-around);

    position    : absolute;
    top         : 0;
    right       : 0;
    height      : 100%;
    margin-right: 5px;
  }
}