main.flex.column.middle.light-bg
  .content.flex.column.flex-grow
    p.file-name(ng-if="vm.file.name") {{ vm.file.name }}

    p.file-caption(ng-if="vm.file.caption") {{ vm.file.caption }}

    h1(ng-if="showSmallImage") {{showSmallImage}} show
    .slideshow.flex.column.flex-grow
      .preview.flex.center.flex-grow.flex-shrink
        .previous.flex.flex-grow
          a.arrow-previous(ng-class="{invisible: !vm.prevFile}" ng-click="vm.viewPrevious()")
            button.clean.icon.arrow

        .image.flex.column.center
          .img-container.flex.flex-grow(ng-class="{zoomed: vm.imageZoomedIn, small: showSmallImage}")

            .bg-image(ng-show="!vm.imageZoomedIn && !showSmallImage" ng-click="vm.toggleZoom()" style="background-image: url({{vm.file.url}})")

            .bg-image.zoomed.elevated(ng-show="vm.imageZoomedIn && !showSmallImage" ng-click="vm.toggleZoom()")
              img(ng-src="{{vm.file.url}}")

            .bg-image.small(ng-show="showSmallImage")
              img(ng-src="{{vm.file.url}}")


        .next.flex.flex-grow
          a.arrow-next(ng-class="{invisible: !vm.nextFile}" ng-click="vm.viewNext()")
            button.clean.icon.arrow.right

      ul.thumbnails
        li.thumbnail(ng-repeat="file in vm.files" ng-class="{ elevated: !vm.isCurrent(file) }")
          button.clean(ng-click="vm.selectFile(file)")
            img(ng-src="{{ file.url }}")

            .notification.absolute(ng-if="file.unreadMessages > 0 && vm.showNotifications") {{ file.unreadMessages }}