button(ng-class="{'checked': vm.isSelected(), 'action': vm.isSelected()}" ng-click="vm.toggle()" type="button")
  p(ng-show="!label && !vm.isSelected()") Select

  p(ng-show="!label && vm.isSelected()") Selected

  p(ng-show="label") {{ label }}

  .icon-container
    .icon.checkmark.smallest
