h1 Fitted Width

ul.flex.wrap.fitted-width
  li(ng-repeat="n in [42, 42, 43, 43] track by $index" fitted-width=true) {{ $index }}


ul.flex.wrap.fitted-width(fitted-width=true)
  li 1

  li 2

  li 3

  li 4