modal(show="true")
  image-viewer-header(comments-allowed=true, download-allowed=true)

  image-slide-viewer(files="vm.files" starting-file="vm.startingFile" show-notifications="vm.showNotifications")