modal(show="true" background-click-close=true)
  image-viewer-header(handle="batman" title="My Very Important Project Images" download-allowed=true)

  image-slide-viewer(files="vm.files" starting-file="vm.startingFile" show-notifications="vm.showNotifications")