provider-example(checked="vm.value" label="vm.label" store="vm.store" watch-depth="reference")

hr

img(src="http://i.perezhilton.com/wp-content/uploads/2013/07/tumblr_m3bwbqnjig1rrgbmqo1_500.gif" ng-show="vm.value") 