p button.widest.biggest(ng-model="vm.value" selectable=true)

br

button.action.widest.biggest(ng-model="vm.value" selectable=true)

hr

p button.wider.big(ng-model="vm.value" label="show me the money" selectable="action")

br

button.wider.big(ng-model="vm.value" label="show me the money" selectable="action")

hr

label Show me the money?

p button(ng-model="vm.value" label="yes" value="true" selectable="action")

br

button(ng-model="vm.value" label="yes" value="true" selectable="action")

br

p button(ng-model="vm.value" label="no" value="false" selectable="action")

br

button(ng-model="vm.value" label="no" value="false" selectable="action")

hr

img(src="http://i.perezhilton.com/wp-content/uploads/2013/07/tumblr_m3bwbqnjig1rrgbmqo1_500.gif" ng-show="vm.value")

label Tracking a list

p button(ng-model="vm.fruits" label="apples" value="vm.apples" selectable="action")

br

button(ng-model="vm.fruits" label="apples" value="vm.apples" selectable="action")

br

p button(ng-model="vm.fruits" label="oranges" value="vm.oranges" selectable="action")

br

button(ng-model="vm.fruits" label="oranges" value="vm.oranges" selectable="action")

br

p button(ng-model="vm.fruits" label="mangos" value="vm.mangos" selectable="action")

br

button(ng-model="vm.fruits" label="mangos" value="vm.mangos" selectable="action")

br

.fruits {{ vm.fruits }}