.username
  input.widest(type="text" name="username" ng-model="vm.username" required=true placeholder="Username")

  .tooltip.elevated
    .arrow

    p Your username is public, please pick one that is:

    p Use letters, numbers, and these special characters: (-_.{}[])