@import "work/work-styles";

h1 {
  text-align: center;
}

.layout-main {
  background-color: white;
  margin          : 0 auto;
  padding         : 20px;
  position        : relative;
}

body > .nav {
  a {
    color: white;
    margin: 10px;
    display: inline-block;
  }
}

.scrollSection {
  margin: 128px;
}

#section1 {
  height: 1000px;
}

.focus-on-click:focus {
  border: 4px solid red;
}

.fitted-width {
  background-color: grey;
  padding: 50px;
  margin: 0 auto;

  li {
    min-width: 100px;
    max-width: 100px;
    height: 100px;
    background-color: orange;
    margin: 30px;
    border: 2px solid red;
    padding: 10px;
  }
}

.lock-height {
  @include transition (all 0.2s ease-in-out);
}

.no-height {
  max-height: 0 !important;
}

.username {
  width: 300px;
  position: relative;

  .tooltip {
    display: none;
  }

  input {
    &:focus + .tooltip {
      display: block;
    }
  }
}
